.dev-settings {
  margin-bottom: 0 !important;
}
.dir-ltr .dev-settings .block_settings .block_tree [aria-expanded="false"]:before,
.dir-ltr .dev-settings .block_navigation .block_tree [aria-expanded="false"]:before,
.dir-ltr .dev-settings .block_settings .block_tree [aria-expanded="true"]:before,
.dir-ltr .dev-settings .block_navigation .block_tree [aria-expanded="true"]:before,

.dir-rtl .dev-settings .block_settings .block_tree [aria-expanded="false"]:before,
.dir-rtl .dev-settings .block_navigation .block_tree [aria-expanded="false"]:before,
.dir-rtl .dev-settings .block_settings .block_tree [aria-expanded="true"]:before,
.dir-rtl .dev-settings .block_navigation .block_tree [aria-expanded="true"]:before {
  content: '';
  width: 20px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}


.dev-settings {
   .hidden-print .card{
    background-color: #eaebec;
    padding: 4px 16px;
  }
  .card-title {
    color: $blue_hover;
    font-size: .8rem !important;

  }
  .tree_item[aria-expanded = 'true'] {
    color: $blue_hover;
  }
  // .block_settings .block_tree [aria-expanded="true"]:before,
  // .block_navigation .block_tree [aria-expanded="true"]:before {
  //   content: '';
  // }

  .tree_item[aria-expanded = 'false']::before {
    content: '';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/theme/devlion/img/arrow.png');
  }
  .tree_item[aria-expanded = 'true']::before {
    content: '';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/theme/devlion/img/arrow.png');
    transform: rotate(-90deg);
  }
  .icon {
    font-size: inherit;
    vertical-align: baseline;
  }
  .card-text {
    font-size: .8rem;
  }
  .block_navigation .block_tree p.hasicon,
  .block_navigation .block_tree .tree_item.branch {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.dir-ltr .dev-settings .tree_item[aria-expanded = 'false']::before {
  content: '';
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/theme/devlion/img/arrow.png');
  transform: rotate(180deg);
}
// START for course page only
.path-course {
  #dndupload-status {
    z-index: 9999;
  }
  .dev-settings #page {
    margin-top: 0px;
  }
  .dev-settings header {
    .context-header-settings-menu {
      height: auto;
    }
    .context-header-settings-menu .dropdown-toggle>.icon {
      height: 20px;
      font-size: 20px;
    }
    .p-a-1 {
      padding: 0px !important;
    }
    .card {
      margin-bottom: 0px;
    }
    .card-block {
      padding: 0px;
      display: flex;
      flex-direction: column;
    }
    .pull-xs-right {
      order: 2;
      margin-right: auto;
      margin-top: 0px;
    }
    .pull-xs-left {
      order: 1;
      padding-right: 30px;
    }
  }
  #page-content .card-block{
    padding: 0px;
  }
  #page-content div[role='main'] {
    .sectionname {
      font-size: .8rem;
    }
    .course-content ul.section {
      margin: 0px;
    }
    .topics li:first-child {
      padding-top: 0px;
    }
    .icon {
      font-size: 12px;
      width: 12px;
      height: 12px;
    }
    .section {
      font-size: .8rem;
      border-color: #ababab;
      min-height: 5vh;
    }
    .section .side {
      margin-top: 0px;
    }
    .inplaceeditable-text {
      line-height: 1.3rem;
    }
    .mdl-right {
      padding-top: 15px;
    }
    .section .activity .actions {
      // left: -39px;
      // top: 9px;
    }
  }
  #region-main>.card {
    min-height: unset;
  }
  &.editing .section .activity .activityinstance {
    padding: 0px;
  }
  &.editing #region-main>.card-block {
    padding-bottom: 30px;
  }
}

.path-course.dir-ltr {
  .dev-settings header {
    .pull-xs-left {
      padding-left: 30px;
      padding-right: inherit;
    }
    .pull-xs-right {
      margin-left: auto;
      margin-right: 21px;
    }
  }
  #page-content div[role='main'] {
    .section .activity .actions {
      left: auto;
      right: -39px;
    }
  }
}
// END for course page only
.dev-settings .card {
  border: none;
}

.dev-settings .form-control {
  margin-bottom: 0px;
  border-radius: .25rem;
  font-size: inherit;
  color: inherit;

}
.dev-settings .block_settings .form-control {
  border: 2px solid #00a9e3;
  border-radius: 0;
  background-color: #eaebec;
  width: 38%;
  line-height: 17px;
}

.dev-settings .breadcrumb > li {
  display: inline-block;
}

.pagelayout-course .dev-settings .breadcrumb-button .singlebutton {
  float: left;
}

.dev-settings .breadcrumb {
  background: none;
  padding-top: 0px;
  font: $Bold 14px/14px 'Alef';
  color: #7e8181;
}

.dev-settings .breadcrumb > a {
  cursor: pointer;
}

.dev-settings .breadcrumb>li>.divider {
  color: #7e8181;
  padding: 0 0 0 8px;
}
.dev-settings .breadcrumb>li:nth-child(2)> a {
  cursor: text;
}
.dev-settings .breadcrumb>li:nth-child(2)> a:hover {
  color: #7e8181 !important;
}
.dev-settings .breadcrumb a:hover {
  color: $blue_hover;
}
.pagelayout-course .dev-settings {
  & #page-header .card {
    border: none;
  }
  & .page-header-headings {
    display: none;
  }
  & .w-100 {
    width: auto !important;
  }
}
@media #{$tablet-width} {
  .path-course {
    .dev-settings header {
      .context-header-settings-menu .dropdown-toggle>.icon {
        height: 40px;
        font-size: 40px;
      }
      .pull-xs-right {
        margin-left: 47px;
      }
      .dropdown-toggle::after {
        border-width: .5rem;
      }
    }
    #page-content .card-block{
      padding: 0px 3rem;
    }
    #page-content div[role='main'] {
      .sectionname {
        font-size: 1.6rem;
        font-weight: 600;
      }
      .section {
        font-size: 1.6rem;
        font-weight: 600;
        min-height: 12vh;
      }
      .icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
      }
    }
    &.editing #page-content div[role='main'] {
      .inplaceeditable-text {
        line-height: 2.3rem;
      }
      .actions,
      .section-modchooser-text,
      .right {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

  }
  .path-course.dir-ltr {
    .dev-settings header {
      .pull-xs-right {
        margin-right: 65px;
      }
    }
  }
  .dev-settings .breadcrumb {
      font: $Bold 22px/26px 'Alef';
      padding-right: 51px;
      padding-top: 10px;
    }

    .dir-ltr .dev-settings .breadcrumb {
      padding-right: 0px;
      padding-left: 51px;

    }
    .dev-settings {
      .hidden-print {
        padding: 0 3rem;
      }
      .hidden-print .card {
          padding: 23px 6px;
      }
      .card-text {
          font-size: 1.6rem;
      }
      .card-title {
        font-size: 1.7rem !important;
      }
      .icon {
        margin: 0 10px !important;
      }
      .block_settings .form-control {
        width: 100%;
        line-height: 45px;
      }
      .block_settings .form-group {
        width: 39%;
      }
    }
    .dir-ltr .dev-settings .block_settings .block_tree [aria-expanded="false"]:before,
    .dir-ltr .dev-settings .block_navigation .block_tree [aria-expanded="false"]:before,
    .dir-ltr .dev-settings .block_settings .block_tree [aria-expanded="true"]:before,
    .dir-ltr .dev-settings .block_navigation .block_tree [aria-expanded="true"]:before,

    .dir-rtl .dev-settings .block_settings .block_tree [aria-expanded="false"]:before,
    .dir-rtl .dev-settings .block_navigation .block_tree [aria-expanded="false"]:before,
    .dir-rtl .dev-settings .block_settings .block_tree [aria-expanded="true"]:before,
    .dir-rtl .dev-settings .block_navigation .block_tree [aria-expanded="true"]:before {
      height: 20px;
      width: 30px;
    }

}
@media #{$desktop-width} {
  .path-course {
    .dev-settings #page {
      margin-top: 50px;
    }
    .dev-settings header {
      .context-header-settings-menu .dropdown-toggle>.icon {
        height: 28px;
        font-size: 28px;
      }
      .p-a-1 {
        padding: 1rem 1rem!important;
      }
      .card-block {
        padding: 1.25rem;
        display: block;
        padding-top: 8px;
      }
      .pull-xs-right {
        margin-right: auto;
        margin-left: 0px;
      }
      .pull-xs-left {
        padding-right: 30px;
      }
    }
    #page-content .card-block{
      padding: 0;
      // padding-left: 8rem;
    }
    #page-content div[role='main'] {
      .sectionname {
        font-size: 1.3rem;
      }
      .section {
        font-size: 1.3rem;
      }
      .icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
    &.editing #page-content div[role='main'] {
      .inplaceeditable-text {
        line-height: 2.3rem;
      }
      .actions,
      .section-modchooser-text,
      .right {
        font-size: 1rem;
      }
    }
  }



    .dev-settings .breadcrumb {
      font: $Bold 20px/26px 'Alef';
      padding-right: 0px;
      padding-left: 0px;
    }
    .pagelayout-course .dev-settings .topics li .sectionname{
      font: $Bold 20px/26px 'Alef';
      padding-right: 0px;
      padding-left: 0px;

    }

  .dev-settings .has-blocks {
    margin: 0;
    width: 40%;
  }
  .dev-settings .hidden-print {
    margin-right: 0;
    // border: 1px solid rgba(238,238,238,1);
    padding: 1%;
    width: 20%;
  }
  .dev-settings {
    position: relative;
    min-height: calc(100vh - 200px);
  }
  .pagelayout-course .dev-settings #page {
    padding-top: 40px;
  }
  .dev-settings #page {
    padding-top: 100px;
  }
  .dev-settings #region-main-box {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
  }
  .dev-settings {
    .hidden-print .card {
        padding: 10px 6px;
    }
    .card-text {
        font-size: 1rem;
    }
    .card-title {
      font-size: 1.1rem !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
    .icon {
      margin: 0 10px !important;
    }
    .block_settings .form-control {
      width: 100%;
      line-height: 30px;
    }
    .block_settings .form-group {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .dir-ltr .dev-settings .block_settings .block_tree [aria-expanded="false"]:before,
  .dir-ltr .dev-settings .block_navigation .block_tree [aria-expanded="false"]:before,
  .dir-ltr .dev-settings .block_settings .block_tree [aria-expanded="true"]:before,
  .dir-ltr .dev-settings .block_navigation .block_tree [aria-expanded="true"]:before,

  .dir-rtl .dev-settings .block_settings .block_tree [aria-expanded="false"]:before,
  .dir-rtl .dev-settings .block_navigation .block_tree [aria-expanded="false"]:before,
  .dir-rtl .dev-settings .block_settings .block_tree [aria-expanded="true"]:before,
  .dir-rtl .dev-settings .block_navigation .block_tree [aria-expanded="true"]:before {
    height: 14px;
    width: 20px;
  }

}
