// Please do not change style in this file. All change will be automaticaly erased, after gulp builder
body {
  padding: 0px;
  overflow-x: hidden;
  background-color: #fff;
}
body.drawer-open-left {
  margin-right: 0px;
  margin-left: 0px;
}
.display__none {
  display: none !important;
}

.dock_left_vertical {
  display: none !important;
}

.visualy-hidden
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lSPrev:hover,
.lSNext:hover {
  border-color: #3d74a0 !important;
}


// .dropdown-toggle {
//   position: relative !important;
// }
// .dropdown-toggle.open:hover::before {
//   border-top-color: #03a8e1;
// }
// .dropdown-toggle.open::before {
//   content: '';
//   position: absolute;
//   top: 39px;
//   left: 18px;
//   display: block;
//   z-index: 9999998 !important;
//   border: 13px solid transparent;
//   border-top-color: #027ea9;
// }
// .dir-ltr .dropdown-toggle.open::before {
//   right: 18px;
//   left: auto;
// }
#page-wrapper::after {
  display: none;
}
body.lockscroll {
  position: relative;
}
#page-footer {
  min-height: unset;
}
.dev-settings #region-main > .card {
  overflow-x: unset;
}

section[data-region="blocks-column"] ,
a.menu-action[data-title="mymoodle,admin"] ,
a.menu-action[data-title="grades,grades"] {
  display: none !important;
}
#region-main-settings-menu.has-blocks,
#region-main.has-blocks {
  width: 100%;
}
