//Fonts
$ExtraLight: 100;
$Light: 300;
$Regular: 400;
$SemiBold: 500;
$Bold: 600;
$ExtraBold: 800;

$text_gray: #58595b;
$text_gray: #575756;
$text_gray_dark: #59595c;

$media-mobile-only: (max-width: 767px);
$tablet-width: (min-width: 768px);
$desktop-width: (min-width: 1150px);
$desktop-width-max: (min-width: 1500px);
// $retina: (min-resolution: 1.5dppx),(min-resoluton: 144dpi);

// colors
$blue_hover: #03a8e1;
$orange: #f69022;
$gray_dark: #666666;
$gray_light: #d3d3d3;
$gray_extra_light: #eeefef;
$orange: #f8a15d;
$orange_circle: #f69022;
$orange_backround: #f48020;
