@font-face {
    font-family: "Alef";
    src: url("/theme/devlion/fonts/Alef-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Alef";
    src: url("/theme/devlion/fonts/Alef-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "WinSoftPro";
    src: url("/theme/devlion/fonts/WinSoftPro-Med.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "WinSoftPro";
    src: url("/theme/devlion/fonts/WinSoftPro-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
