@charset "utf-8";
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
// button {
//   border: none;
//   outline: none;
//   padding: 0px;
//   background: none;
//   box-shadow: none;
// }
// button:active,
// button:hover,
// button:visited,
// button:focus, {
//   outline: none;
//   background: none;
//   box-shadow: none;
// }
ul {
  list-style-type: none;
}
h1, h2, h3, p , ul, li {
  padding: 0px;
  margin: 0px;
}
