.toTop {
  // display: none;
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
  cursor: pointer;
  position: fixed !important;
  top: 90%;
  left: 2%;
  border-radius: 50%;
  background-color: $blue_hover;
  transition: .4s;
  // opacity: .5;
}
.dir-ltr .toTop {
  left: auto;
  right: 2%;
}
.toTop:hover {
  // opacity: 1;
}
.toTop::after,
.toTop::before {
  content: '';
  position: absolute !important;
  top: 11px;
  left: 13px;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(135deg);
}
.toTop::before {
  top: 19px !important;
  transform: rotate(-225deg);
  padding: 0px !important;
  margin-top: 0px !important;
}

@media #{$desktop-width} {
  .toTop {
    width: 36px;
    height: 36px;
  }
}
